n8n_prioritizer_workflow.json
{
    "name": "Tasks AI Prioritizer (GPT-5 Mini)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "task-prioritizer",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "webhookId": "task-prioritizer"
        },
        {
            "parameters": {
                "model": "gpt-5-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a Personal Productivity Expert. Analyze the tasks and assign a 'rank' (1 = Highest Priority) and update 'priority' (critical, high, medium, low) based on urgency and context. Return ONLY JSON."
                        },
                        {
                            "content": "={{ JSON.stringify($json.body.tasks) }}"
                        }
                    ]
                },
                "jsonOutput": true
            },
            "id": "ai-agent",
            "name": "AI Prioritizer (GPT-5-Mini)",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "OPENAI_CREDENTIAL_ID_PLACEHOLDER",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Prepare Upsert Data for Supabase\nconst aiRaw = $input.all()[0].json.message.content;\nconst aiData = typeof aiRaw === 'string' ? JSON.parse(aiRaw) : aiRaw;\nconst tasks = aiData.tasks || aiData;\n\nreturn tasks.map(t => ({\n  id: t.id,\n  priority: t.priority.toLowerCase(),\n  smart_analysis: {\n    smartRank: t.rank,\n    reasoning: t.reasoning,\n    reorganizedAt: new Date().toISOString()\n  },\n  updated_at: new Date().toISOString()\n}));"
            },
            "id": "format-response",
            "name": "Format Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://dovmyyrnhudfwvrlrzmw.supabase.co/rest/v1/tasks",
                "authentication": "genericCredentialType",
                "genericAuthType": "headerAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json }}",
                "options": {}
            },
            "id": "supabase-upsert",
            "name": "Supabase Update",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "SUPABASE_CREDENTIAL_ID_PLACEHOLDER",
                    "name": "Supabase Header Auth"
                }
            }
        },
        {
            "parameters": {
                "content": "={{ JSON.stringify({ success: true, count: $input.all().length }) }}",
                "contentType": "json"
            },
            "id": "response",
            "name": "Respond to App",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Prioritizer (GPT-5-Mini)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Prioritizer (GPT-5-Mini)": {
            "main": [
                [
                    {
                        "node": "Format Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Data": {
            "main": [
                [
                    {
                        "node": "Supabase Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Update": {
            "main": [
                [
                    {
                        "node": "Respond to App",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}