n8n_workflow_fix.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "task-prioritizer",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "e02d27bd-b3dc-443c-b46b-ad067763080b",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                32,
                -224
            ],
            "webhookId": "f627aa04-df47-44f4-881b-497385c13359"
        },
        {
            "parameters": {
                "operation": "get",
                "tableId": "inbox_items",
                "filters": {
                    "conditions": [
                        {
                            "keyName": "id",
                            "keyValue": "={{ $json.body.id }}"
                        }
                    ]
                }
            },
            "id": "36e98920-7e4b-40b2-aebf-b3ffd8068bcb",
            "name": "Get Task Details",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                256,
                -224
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "DWFYTMgyxiZcVxAd",
                    "name": "Agenda"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "tableId": "tasks",
                "returnAll": false,
                "limit": 20
            },
            "id": "a29be484-b647-4d34-9ef7-f29ab6682384",
            "name": "Get Recent Context",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                480,
                -224
            ],
            "alwaysOutputData": true,
            "credentials": {
                "supabaseApi": {
                    "id": "DWFYTMgyxiZcVxAd",
                    "name": "Agenda"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// 1. Obtener los datos directos del Webhook\nconst webhookData = $('Webhook').item.json;\nconst targetText = webhookData.body?.text || \"Tarea sin título\";\nconst projects = webhookData.body?.available_projects || [];\nconst team = webhookData.body?.available_team || [];\n// NUEVO: Capturar el contexto personalizado del usuario\nconst userContext = webhookData.body?.team_context || \"Contexto general de productividad.\";\n// 2. Procesar el historial (Se mantiene igual)\nconst history = items.map(item => {\n  const json = item.json;\n  const title = json.title || json.text || \"Sin título\";\n  const priority = json.priority || \"Sin prioridad\";\n  return `- ${title} (Prioridad: ${priority})`;\n}).join('\\n');\n// 3. Empaquetamos TODO para el Agente\nreturn [{\n  json: {\n    target_title: targetText,\n    current_date: new Date().toISOString(),\n    history_context: history || \"No hay historial previo disponible.\",\n    available_projects: projects,\n    available_team: team,\n    user_defined_context: userContext // <--- Pasamos esto al siguiente nodo\n  }\n}];"
            },
            "id": "85965914-aa6b-461e-888f-6409b84996f8",
            "name": "Prepare Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                704,
                -224
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "id": "01d37b61-e094-4036-9bb2-342a0ed7da28",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1232,
                -224
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "==== DATOS DE ENTRADA ===\nFecha de hoy: {{ $json.current_date }}\nHistorial previo: {{ $json.history_context }}\nINPUT DEL USUARIO:\n\"{{ $json.target_title }}\"\n=== CONTEXTO DEL ROL (FILTRO PRINCIPAL) ===\n\"{{ $json.user_defined_context }}\"\n(Usa esto para entender quién soy y qué debo priorizar).\n=== LISTAS DE REFERENCIA ===\nProyectos: {{ JSON.stringify($json.available_projects) }}\nEquipo: {{ JSON.stringify($json.available_team) }}",
                "options": {
                    "systemMessage": "=### ROL\nEres un Asistente Ejecutivo Senior experto en metodología GTD. Tu objetivo es procesar inputs crudos y convertirlos en tareas estructuradas y accionables.\n### INSTRUCCIONES CLAVE\n1. **Segmentación:** Si el input contiene múltiples ideas, desglósalo en múltiples objetos de tarea independientes.\n2. **Priorización por Contexto:** Usa el \"Contexto del Rol\" para determinar la importancia.\n   - Si una tarea NO encaja con el rol (ej. tarea personal en rol laboral), NO LA ELIMINES. Créala, pero asígnala con prioridad \"low\" y sin proyecto.\n   - Jamás descartes información del usuario.\n3. **Mapeo Estricto:**\n   - Usa SOLO los IDs proporcionados en las listas de \"Proyectos\" y \"Equipo\".\n   - Si no hay una coincidencia semántica evidente, deja el campo ID como null. No adivines.\n4. **Fechas:** Calcula `ai_date` relativo a la \"Fecha de hoy\". Si menciona \"para el viernes\", calcula la fecha exacta. Si no hay fecha, usa null.\n### FORMATO DE SALIDA (JSON ARRAY)\nDevuelve SIEMPRE una lista (Array) de objetos JSON válidos.\n[\n  {\n    \"ai_title\": \"Verbo de Acción (Imperativo) + Objeto Claro\",\n    \"ai_priority\": \"critical\" (urgente/hoy) | \"high\" (esta semana) | \"medium\" (normal) | \"low\" (eventual/desconectado del rol),\n    \"ai_date\": \"YYYY-MM-DD\" | null,\n    \"ai_context\": \"Razón breve de por qué se asignó esta prioridad/proyecto\",\n    \"ai_project_id\": \"UUID_EXACTO\" | null,\n    \"ai_assignee_ids\": [\"UUID_EXACTO\"] | []\n  }\n]\nNo incluyas markdown, ni ```json, solo el array puro."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                912,
                -224
            ],
            "id": "4a7d8a9c-b12e-4f9a-87fc-10e8060a9d0e",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-5-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-5-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                912,
                -16
            ],
            "id": "c4a4d9ef-b2ef-4769-beb0-32d6d502fc30",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "sv3rVdNemtWBn1Mg",
                    "name": "OpenAi account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get Task Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Task Details": {
            "main": [
                [
                    {
                        "node": "Get Recent Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Recent Context": {
            "main": [
                [
                    {
                        "node": "Prepare Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Context": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "b8207b1defa8f433fdbcc8fd798cf364000b757eaecde330bd2b50b9a003205f"
    }
}